<nz-layout>
  <nz-header>
    <!--    <div class="logo">-->
    <!--      Hammer Restaurant-->
    <!--    </div>-->
    <ul nz-menu [nzTheme]="'dark'" nzMode="horizontal">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/menu"
          [routerLinkActiveOptions]="{exact: true}">
        Home
      </li>
      <li *ngIf="authService.isLoggedIn" nz-menu-item routerLinkActive="ant-menu-item-selected"
          routerLink="/menu/create">
        Create
      </li>
      <li *ngIf="!authService.isLoggedIn" nz-menu-item routerLinkActive="ant-menu-item-selected"
          routerLink="/auth/login">
        Login
      </li>
      <li *ngIf="!authService.isLoggedIn" nz-menu-item routerLinkActive="ant-menu-item-selected"
          routerLink="/auth/register">
        Register
      </li>
      <li *ngIf="authService.isLoggedIn" nz-menu-item (click)="logout()">
        Logout
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>&copy;{{year}} Hammer Restaurant</nz-footer>
</nz-layout>
